:root{
    --1-color: #4CA8CD;
    --2-color: #26CAD3;
    --3-color: #062F87;
    --4-color: #062F87;
    --5-color: #97C11F;
    --white-color: #fff;
    --black-color: #000;
    --light-gray-color: #eee;
    --gap: 3rem;
}